# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/